<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>co.app.test.NewProjectStructure</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myspotifyclone</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
